/* styles/styles.module.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.centeredTable {
  width: 100%;
}

.clickableRow:hover {
  background-color: #f3f4f6;
}
